.scrollup {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    z-index: 9999;
    color: #153f74;
    text-align: center;
    line-height:52px;
     font-size:25px;
    box-shadow: 0px 0px 7px #ddd; background:#fff;
    border-radius:100%;
}
.scrollup:hover {
    color: #000;
}
@media (min-width: 1600px) {  
.webflow-banner{  width:100%; background:#eefff8 url('../images/banner-bg.jpg') no-repeat; background-position: bottom  right; background-size:100%;  }
 }
@media (max-width: 1366px) {.container{max-width: 1299px;} }

@media (max-width: 1199px) { 
#navbarfix{background: #293d40;}
.navbar-toggler:focus {box-shadow: 0 0 0 0rem;}
.navbar-light .navbar-toggler{background: #fff;}
.navbar-light {padding: 15px 0;}
.btn-box a {padding: 10px 40px;}
.btn-box a i {left: 14px;}
#testimonials {width: 76%;}
.quote {width: 104px;}
.space-80{ display:none}
.sticky-header{ background:#293d40}
.banner-content h4 {font-size: 43px; letter-spacing: 0px;}
.banner-content h1 {font-size: 62px;line-height: 100px;}
.banner-btn a {margin-bottom: 42px;} 
.dr-img {
    margin-bottom: -99px;
    padding: 0px;
}
.area-expertise-section {background-size: 100%;}
.expert-space-01{margin:35px 0px 0px 105px;}
.expert-space-02{margin:100px 0px 0px -10px;}
.expert-space-03{margin:100px 0px 0px 0px;}
.expert-space-04{margin:35px 0px 0px 0px;}

.expertise-area .circle {
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 7px #ddd;
    background: #153f74;
    padding: 6px;
    border-radius: 100%;
    border: 10px solid #fff;
    margin: 0px auto;
}
.expertise-area .circle img{ width:25px;}
.active-area {padding: 20px 23px;}
.left-space {margin-left: 70px;}
 .request-section {padding: 4rem 4rem;}
.right-area { height: 402px;}


}


@media (max-width: 991px) {
.dr-img{width:100%;float:left;}
.dr-img img{width:100%;}
.banner-content{width:100%;float:left;text-align: center;}
.banner-btn a{padding: 10px 12px;    margin-right: 0px;}
 .area-expertise-section h2 {font-size:2rem;}
 .expert-space-01 {margin:90px 0px 0px 50px;}
 .expert-space-02 { margin:132px 0px 0px 15px;}
 .expert-space-03 {margin: 132px 0px 0px 15px;}
 .expert-space-04 {margin: 90px 0px 0px 15px;}
 h2{font-size:2rem !important;}
 .right-area ul li {  float: left; width: 100%;}
 .box-top-area { margin-bottom: 20px;}
.logo {width: 230px;margin: 0px auto;  margin-bottom:40px; }
.dr-img {
    margin-bottom: -33px;
    padding: 0px;
}  
.banner-btn-btn { margin-bottom: 40px;}  
.area-mark {padding: 0rem 5rem;}  
 .about-facts {margin-left:0px}
.about-facts-section h2 {margin-left: -157px;}
.right-area { height:auto;}
 
}


@media (max-width: 767px) {
.pxm{padding: 2rem 0;}
 h2{font-size:1.8rem !important;}
 p{font-size:14px !important;}
.banner-content{margin-top: 4px;}
.banner-content h4 {font-size: 35px; letter-spacing: 0px;}
.banner-content h1 {font-size: 40px;line-height: 70px;}
.banner-content strong{font-size: 25px;}
.banner-content span {font-size: 16px;}

.expert-space-01{margin:0px; margin-bottom:20px;}
.expert-space-02{margin:0px;margin-bottom:20px;}
.expert-space-03{margin:0px;margin-bottom:20px;}
.expert-space-04{margin:0px;margin-bottom:20px;}
 .banner-btn { padding: 15px 18px;margin-bottom: 40px;}
.area-expertise-section p{margin:0px; margin-bottom:20px;}
.about-facts h2{padding-left: 20px;text-align:left;  }
.side-bg {padding:0px;padding-left: 15px;}
.banner-btn a { width: 100%;text-align: center;}
.banner-btn a {margin-bottom: 20px;} 

.footerbox img{width:60%;}
.footerbox {margin-top: 0px;padding: 2rem 0rem 0rem 0rem;}
.footer {padding: 0rem 0rem 2rem 0rem;}
.mobile-on{display:block !important;}
.mobile-off{display:none}
.area-mark {padding: 0rem 2rem;}  
.works-area { width: 100%;}
.handle-section p { padding: 0px 15px;}
.about-facts-section h2 { margin-left: 10px;text-align: left;}
.what-profile  {padding: 0px 10px;}
.cross-area ul li {
    background: url(../images/cross-01.png)no-repeat top left;
    padding: 0px 0px 0px 35px;
    color: #666;
    text-align: left;
line-height: 36px;}
.what-profile ul li {
    background: url(../images/li-right-01.png)no-repeat top left;
    padding: 0px 0px 0px 25px;
    color: #fff;
    text-align: left;
    line-height: 30px;
}
.box-top-area { background: #fff ;}
.right-area ul li {
    background: url(../images/right-01.png)no-repeat top left;
    padding: 0px 0px 0px 35px;
    color: #666;
    text-align: left;
    line-height: 36px;
    font-size: 15px;
}
.about-facts {
    background: #153f74;
    padding: 20px 0px;
border-left: none;}
.area-works-section { background:none;}
.box-top-area { box-shadow:none;}
}

@media (max-width: 540px) {

 
	 
	 
}

@media (max-width: 375px) {
.about-facts-section h2 { margin-left: 0px;}
 
	 
	 
}


@media (max-width: 320px) {
.cont-ifn p {font-size: 15px;}
}